html, body {
  margin: 0;
  height: 100%;
  font: 16px/1.4 normal Arial, sans-serif;
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
}

#options {
  position: absolute;
  background-color: white;
  bottom: .5em;
  left: .5em;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  padding: 4px;
}

.cb_row {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.cb_label {
  margin-left: 4px;
  margin-right: 8px;
}

.color_select_box {
  width: 20px;
  height: auto;
  padding: 0px !important;
  margin: 2px;
  margin-left: auto;
  border-style: none !important;
  opacity: 0.6;
}

.ol-attribution {
  align-items: end;
  text-align: left;
}

.ol-attribution button {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
}

#popup-content > div > table {
  border-spacing: 1em 0;
}

#popup-content > div > table > tbody > tr > :last-child {
  text-align: left;
}

#popup-content > div > table > tbody > tr > :first-child {
  text-align: right;
}

#popup-content > div > div{
  text-align: center;
}

#privacy-policy-button{
  cursor: pointer;
}

#modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
  display:block;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 9999;
  overflow: hidden;
}

#modal-body {
height: calc(100% - 4em);
}

#modal-body > pre {
  padding: 1rem;
  overflow: scroll;
  height: calc(100% - 4rem - 2px);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid black;
  margin: 1rem;
}

#modal-header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

#modal-header h3 {
  box-sizing: border-box;
  color: #4d4d4d;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

#modal-header span {
  box-sizing: border-box;
  border-left: 1px solid #dddddd;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

#modal-header span:hover {
  opacity: 0.6;
}
